@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

.toptopo{
    width: 100%;
    height: 50px;
    background-color: #2a4142f1;
    display: flex;
    align-items: center;
  
}

.toptopo img{
    height: 80px;
    margin-left: 980px;
}

.toptopo img:hover{
    cursor: pointer;
}


.search-bar{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 15px;
    background-color: #2a4142f1;
    padding: 10px 50px;
    border-radius: 50px;
    box-shadow: rgba(0,0,0,0.3);
    transition: 0.5s ease-in-out;
    
    
}

.search-bar input{

    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    background-color: transparent;
    color: cadetblue;
}

.search-bar i{
    cursor: pointer;
    font-size: 25px;
    color: cadetblue;
}
.search-bar:hover{
    width: 400px;
}

.faleconosco{
    position: fixed;
    right: 1%;
    bottom: 1%;
    padding: 10px;
    width: 220px;
    height: 50px;
    background-color: blue;
    border-radius:30px;
  
}

.faleconosco h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.toptopo h2{
    letter-spacing: -1px;
}

.topo{
    width: 100%;
    height: 200px;
    background-color: gray;
    display: flex;
    align-items: center;
    font-size: 21px;

}

.logo{
    display:flex;
    align-items: center;
    padding-left: 50px;
    gap: 40px;
    
    
}

.content{
    display: flex;
    align-items: center;
    padding-left: 250px;
    gap: 60px;
  
}

.content h2 a{
    text-decoration: none;
    color: black;
   
   transition: 400ms;
}

.content a:hover{
    cursor: pointer;
    color: #545050;
}
